build/
bin/
lib/
msg_gen/
srv_gen/
docs/
*.dox
*~
*.user

*.cfgc
cfg/*.py
msg/*.py
layered_costmap_2d/src/layered_costmap_2d
layered_costmap_2d/cfg/cpp/
activity_layer/src/activity_layer/
*.autosave
.swp
*.vcg
