<!-- -->
<launch>  
  <param name="use_sim_time" value="true" />
  <node pkg="tf" type="static_transform_publisher" name="initial_pose_link_broadcaster" args="0. 0. 0 0 0 0 map odom 20" />  
  <node pkg="stage" type="mir_stageros" name="stage_ros" args="-m $(find range_sensor_layer)/world/world.world"/> 

  <node name="costmap" pkg="layered_costmap_2d" type="costmap_2d_node" output="screen">
    <rosparam file="$(find range_sensor_layer)/launch/sim_range_layer.yaml" command="load" ns="costmap"/>
		<remap from="/costmap/costmap/costmap" to="dynamic_map" /> 		
  </node>

  <node name="laser_to_range" pkg="laser_to_range" type="laser_to_range" />

  <node name="visulizer" pkg="rviz" type="rviz" args="-d $(find activity_layer)/config/sim_activity_layer.vcg"/>

  <param name="robot_description" textfile="$(find mirCommon)/urdf/mir.urdf" />

</launch>
