<launch>

  <node name="costmap" pkg="layered_costmap_2d" type="costmap_2d_node" output="screen">
    <rosparam file="$(find sim_dynamic_world)/launch/sim_activity_layer.yaml" command="load" ns="costmap"/> 
  </node>

 <node name="occupancy_im_shower" pkg="rqt_image_view" type="rqt_image_view" /> 

<node name="occupancy_publisher" pkg="occupancy_image_publish" type="occupancy_image_publish_node" /> 

</launch>
