<!-- -->
<launch>
  <!-- <env name="ROSCONSOLE_CONFIG_FILE" value="$(find layered_costmap_2d)/config/rosconsole.conf"/> --> <!-- to see debug msgs -->
  <param name="use_sim_time" value="true" />

  <node name="map_server" pkg="mirMapServer" type="map_server" args="$(find layered_costmap_2d)/world/tek-map.yaml">
    <param name="use_db" value="false"/>
  </node>

  <node pkg="stage" type="mir_stageros" name="stage_ros" args="-m $(find layered_costmap_2d)/world/tek-mir.world"/> 

  <node pkg="tf" type="static_transform_publisher" name="initial_pose_link_broadcaster" args="11. 10. 0 0 0 0 map odom 20" /> 

  <node name="costmap" pkg="layered_costmap_2d" type="costmap_2d_node" output="screen">
    <rosparam file="$(find layered_costmap_2d)/launch/default_activity_layer.yaml" command="load" ns="costmap" /> 
  </node>

  <node name="visulizer" pkg="rviz" type="rviz" args="-d $(find layered_costmap_2d)/config/test_costmap_2d.rviz"/>
</launch>
