<!-- -->
<launch>
	<param name="use_sim_time" value="true" />
	<include file="$(find mirCommon)/launch/mir_bringup.launch"/>
  <node name="costmap" pkg="layered_costmap_2d" type="costmap_2d_node" output="screen" >
		<rosparam file="$(find user_priority_map)/launch/sim_priority_layer.yaml" command="load" ns="costmap"/> 
		<remap from="/costmap/costmap/costmap" to="dynamic_map" />
  </node>

  <node name="occupancy_publisher" pkg="occupancy_image_publish" type="occupancy_image_publish_node" >
		<remap from="/costmap/costmap/costmap" to="dynamic_map" />
	</node>
  
 	<node name="occupancy_im_shower" pkg="rqt_image_view" type="rqt_image_view" />
</launch>
