<!-- -->
<launch>  
<param name="use_sim_time" value="true" />
	<node name="ros_map_server" pkg="map_server" type="map_server" args="$(find sim_dynamic_world)/world/empty_200.yaml"/>   
  <node pkg="stage" type="mir_stageros" name="stage_ros" args="-m $(find sim_dynamic_world)/world/sim_activity_layer.world"/> 

	<node pkg="tf" type="static_transform_publisher" name="blue_print_map_link_broadcaster" args="0. 0. 0 0 0 0 map blue_print_map 20" />   

	<node name="ros_blueprint_server" pkg="map_server" type="map_server" args="$(find sim_dynamic_world)/world/empty_200.yaml" ns="blue_print">
		<remap from="/map" to="/blue_print_map" />
	</node>
	
  <node name="costmap" pkg="layered_costmap_2d" type="costmap_2d_node" output="screen" >
		<rosparam file="$(find sim_dynamic_world)/launch/sim_activity_layer.yaml" command="load" ns="costmap"/> 
		<remap from="/costmap/costmap/costmap" to="/dynamic_map" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="initial_pose_link_broadcaster" args="-1.5 0. 0 0 0 0 map odom 20" />  
  <!-- Mir simple controller -->
<!--
  <node name="mir_jump_controller" pkg="sim_dynamic_world" type="jump_to_control" output="screen">
    <param name="name" value="mir" />
    <rosparam param="waypoints">  
      [
        [1.0, 0.0, 0.0, 1.0],
        [0.0, 0.0, 0.0, 1.0],
        [-1.0, 0.0, 0.0, 1.0],
        [0.0, 0.0, 0.0, 1.0],
      ]
    </rosparam>
  </node>
-->
  <!-- upper dynamic obstacle -->
  
  <!-- lower dynamic obstacle -->

  <node name="lower_dynamic_obs_controller" pkg="sim_dynamic_world" type="jump_to_control" output="screen">
    <param name="name" value="lower_dyn_obs" />
    <rosparam param="waypoints">  
      [
        [1.5, -1.5, 0.0, 0.33],
        [0.5, -1.5, 90.0, 1.0]
      ]
    </rosparam>
  </node>

  <!-- upper dynamic obstacle -->

  <node name="upper_dynamic_obs_controller" pkg="sim_dynamic_world" type="jump_to_control" output="screen">
    <param name="name" value="upper_dyn_obs" />
    <rosparam param="waypoints">  
      [
        [-1.5, 1.5, 0.0, 30.],
        [-0.5, 1.5, 90.0, 60.]
      ]
    </rosparam>
  </node>
  <node name="occupancy_publisher" pkg="occupancy_image_publish" type="occupancy_image_publish_node" />

  <node name="visulizer" pkg="rviz" type="rviz" args="-d $(find activity_layer)/config/sim_activity_layer.vcg"/>
  
 <!--node name="occupancy_im_shower" pkg="rqt_image_view" type="rqt_image_view" /-->
  <param name="robot_description" textfile="$(find mirCommon)/urdf/mir.urdf" />
</launch>
