<!-- Test of sensor models -->
<launch> 
  <param name="use_sim_time" value="true" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find sim_dynamic_world)/world/scan_hector_map.yaml">    
  </node>

  <node name="costmap" pkg="layered_costmap_2d" type="costmap_2d_node" output="screen" >
	  <rosparam file="$(find sim_dynamic_world)/launch/sim_activity_layer.yaml" command="load" ns="costmap"/> 
	  <remap from="/costmap/costmap/costmap" to="dynamic_map" />
  </node>

	<node name="player" pkg="rosbag" type="play" args="--rate 2 --clock --keep-alive $(find run_mir)/launch/bags/Test_scan_short_particlecloud.bag" output="screen">
	</node> 
	<!-- for cone 0.09  Test_with_pose_noise1 -->
  <node name="occupancy_publisher" pkg="occupancy_image_publish" type="occupancy_image_publish_node" output="screen" >
	</node>

  <node name="visulizer" pkg="rviz" type="rviz" args="-d $(find activity_layer)/config/sim_activity_layer.vcg"/>

  <param name="robot_description" textfile="$(find mirCommon)/urdf/mir.urdf" />

</launch>
